{% extends 'index.html' %}
{% block 'b1' %}

<h2 align ="center"><font color="brown"> Change Password </font></h2>
<form method="post" action="{% url 'changepassword' %} ">
    {% csrf_token %}
    <table align = "center" border="2">
        <tr>
            <td><label>Enter Username : </label></td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td><label>Enter Old Password : </label></td>
            <td><input type="old password" name="opwd" required/></td>
        </tr>
        <tr>
            <td><label>Enter New Password : </label></td>
            <td><input type="new password" name="npwd" required/></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="Login"></td>
            <td align="center"><input type="reset" value="Clear"></td>
        </tr>
    </table>
</form>
{%endblock%}